.page {
  font-family: 'Kaspersky Sans', 'Mulish', Arial, Helvetica, sans-serif;
  min-height: 4000px;
  display: flex;
  justify-content: center;
}

.page-block {
  overflow-y: hidden;
  height: 100vh;
}