.offer__select-container {
  display: flex;
  margin-bottom: 10px;
}

@media screen and (max-width: 1279px) {
  .offer__select-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .offer__select-container {
    flex-direction: row;
    margin: 0;
    justify-content: center;
  }
}